<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>738912944281-vpspilvr7u65qec80hn6dj0sai3q7ejg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738912944281-vpspilvr7u65qec80hn6dj0sai3q7ejg</string>
	<key>API_KEY</key>
	<string>AIzaSyCmY-0CVwblhZ_iycmxfF6B4VY-RTo9ZbA</string>
	<key>GCM_SENDER_ID</key>
	<string>738912944281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahbjee.CommunalTable</string>
	<key>PROJECT_ID</key>
	<string>communaltable660</string>
	<key>STORAGE_BUCKET</key>
	<string>communaltable660.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738912944281:ios:9ae7f61574e19c46</string>
	<key>DATABASE_URL</key>
	<string>https://communaltable660.firebaseio.com</string>
</dict>
</plist>